# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# SQLite databases & temp files
*.sqlite
*.sqlite3
*.db
*.tmp

# Editor & OS files
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.idea/
.vscode/
